/* mega_menu start */
.navbar_fixed {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    animation: fadeInDownBig 0.4s ease;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 999;
}

@keyframes fadeInDownBig {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: none;
    }
}

.mega_menu {
    background: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0 8px 10px 0;
    margin-top: 14px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 800;
}

.header_mega_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mega_menu_navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-evenly; */
    list-style: none;
    flex-wrap: wrap;
}

.mega_menu_navbar li {
    margin-left: 1rem;
}

.mega_menu_navbar>li:hover .main_menu_active {
    display: block;
}

.mega_menu_navbar li a {
    display: flex;
    align-items: center;
}

.mega_menu_navbar li a span {
    padding-right: 0.3rem;
}

.mega_menu_category_button {
    background-color: var(--main-color-one) !important;
    color: #fff !important;
    padding: 4px 25px !important;
    border-radius: 25px;
    font-weight: normal !important;
}

.mega_menu_category_button:hover {
    background-color: var(--main-color-one) !important;
}

.mega_menu_category_button i {
    color: #fff;
    margin-right: 4px;
    font-size: 20px;
    transition: 0.3s all ease-in;
}

.main_menu {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.main_menu_active {
    /* display: block; */
    background: #fff;
    box-shadow: var(--shadow-md);
    height: auto;
    /* min-width: 200px; */
    min-height: 400px;
    position: absolute !important;
    transition: 0.4s all ease-in-out;
    border-radius: 0;
    list-style-type: none;
    width: 1333px;
    /* padding-top: 2rem; */
    border: none;
    top: 52px;
    right: -12px;
}


.main_menu_sub {
    background-color: #eee;
    border-radius: 0;
    border-bottom: 1px dashed #d2d2d2d9;
    width: 265px;
    margin: 0;
    padding: 15px 0;
}

.main_menu_sub:nth-child(2) ul {
    top: -44px !important;
}

.main_menu_sub:nth-child(3) ul {
    top: -110px !important;
}

.main_menu_sub:nth-child(4) ul {
    top: -166px !important;
}

.main_menu_sub:nth-child(5) ul {
    top: -225px !important;
}

.main_menu_sub:hover {
    box-shadow: var(--shadow-inner);
    background: var(--main-color-two-shadow);
}

.main_menu_sub:hover>ul {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s ease-in;
    right: 268px;
    top: 15px;
    min-height: 400px;
    max-height: 400px;
    /* overflow-y: scroll; */
    min-width: 200px;
    width: 1035px;
    border: none;
}

.main_menu_sub a {
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.main_menu_sub a>i {
    margin-left: 5px !important;
}

.main_menu_sub:hover a {
    color: #333;
    transform: translateX(-5px);
    transition: 0.3s all ease;
}

.main_menu_sub:hover i {
    color: var(--main-color-one);
    font-weight: bolder;
}

.main_menu_sub_title {
    color: #333 !important;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 197px;
}


.main_menu_sub>ul>div>li>a:hover {
    color: var(--main-color-one);
}

.main_menu_sub_list_second_active>div>li:not(:first-child)>a:hover {
    color: var(--main-color-one) !important;

}

.main_menu_sub_title:hover {
    color: #333 !important;
    background-color: transparent;
}



.main_menu_sub_title::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 20px;
    margin: -8px;
    background: var(--main-color-one);
}

.main_menu_sub li {
    max-width: 150px;
    margin-top: 4px;
    padding: 5px 0;
    margin-left: 4rem;
    text-align: right;
}

.main_menu_sub_list_active,
.main_menu_sub_list_second_active {
    display: flex;
    background: #fff url(/images/labtop.png) no-repeat;
    background-position: left left !important;
    background-size: 300px !important;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    min-width: 200px;
    background: #fff;
    position: absolute;
    right: 200px;
    padding: 10px;
    transition: 0.4s all ease-in-out;
    border-radius: 10px;
    list-style-type: none;
    box-shadow: rgb(0 0 0 / 10%) 0 8px 10px 0 !important;
    padding-top: 2rem;
    padding-right: 2rem;
}

.main_menu_sub_list_second_active {
    display: none !important;
    width: 100% !important;
    right: -11px !important;
    background: #fff url('/images/mega-img-1.jpg') no-repeat !important;
    background-position: left !important;
    background-size: 400px !important;
    min-width: 1340px;
}

.mega_menu_navbar>li:nth-child(2):hover .main_menu_sub_list_second_active {
    display: flex !important;
}

.mega_menu_navbar>li:nth-child(3):hover .main_menu_sub_list_third_active {
    display: block !important;
}

.main_menu_sub_list {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.main_menu_sub_list_second_active div {
    margin-left: 5rem;
}

.main_menu_sub_list_second_active div:last-child {
    margin-left: 0;
}

.main_menu_sub_list_item a {
    font-size: 13px !important;
    color: #333 !important;
    padding: 5px 0;
}

.mega_menu_nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    position: relative;
}

.mega_menu_nav_link span {
    margin-right: 5px;
}

.main_menu_sub_list_third_active {
    display: none;
    align-items: unset;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    height: auto;
    min-width: 200px;
    position: absolute;
    top: 85%;
    left: auto;
    right: auto;
    padding: 0;
    transition: 0.4s all ease-in-out;
    border-radius: 10px;
    list-style-type: none;
    padding-top: 1rem;
}

.main_menu_sub_list_third_active li {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    border-radius: 10px;
}

.main_menu_sub_list_third_active li:hover {
    background: var(--main-color-two);
}

.main_menu_sub_list_third_active li:hover a {
    color: #fff;
    transform: translateX(-5px);
    transition: all 0.3s ease-in;
}

.main_menu_sub_list_third_active li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: var(--color-site);
    font-size: var(--font-size) !important;
}

.main_menu_sub_list_third_active li ul {
    display: none;
}

.main_menu_sub_list_third_active li:nth-child(3) {
    position: relative;
}

.main_menu_sub_list_third_active li:nth-child(3) ul li a {
    color: #000;

}

.main_menu_sub_list_third_active li:nth-child(3) ul li:hover a {
    color: #fff;
    transform: translateX(-10px);
    transition: all 0.3s ease-in;
}

.main_menu_sub_list_third_active li:hover ul {
    display: block;
    right: 14.4rem;
    top: 0;
    color: #333 !important;
    list-style: none;
    background-color: #fff;
    height: auto;
    min-width: 200px;
    position: absolute;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 0;
    transition: 0.4s all ease-in-out;
    border-radius: 10px;
    list-style-type: none;
}

.border_animate {
    --border-color: var(--main-color-one);
    --border-width: 2px;
    --bottom-distance: 0px;
    color: #666;
    display: inline-block;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0 var(--border-width);
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    margin: 5px 0;
    background-position: bottom;
}

.border_animate:hover {
    background-size: 100% var(--border-width);
}