.item{
    transition: 250ms;
}

.item:hover{
    transform: translateY(-5px);
    box-shadow: var(--shadow-xl);
}


.item .title{
    height:55px;
    overflow-y: hidden;
}

.item .title h6{
    line-height: 27px;
    font-size: 13px;
    font-family: var(--main-font);
}