.cart_canvas .item {
    background-color: #fff;
    box-shadow: var(--shadow-box);
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cart_canvas .item .factor .title {
    padding-bottom: 10px;
    border-bottom: 3px solid #eee;
    margin-bottom: 10px;
}

.checkoutSideCalendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dayPicker {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dayPicker .rdp-day {
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dayPicker .rdp-day:hover {
    background-color: #f0f0f0;
}

.dayPicker .rdp-day.selected {
    background-color: #4CAF50;
    color: white;
}

.dayPicker .rdp-day.disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.shipping_item {
    padding: 7px 7px;
    display: flex;
    align-items: center;
    border: 2px solid #eee;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.shipping_item.active {
    border-color: var(--main-color-one);
}

.shipping_item.active::before {
    content: '\F26A';
    position: absolute;
    bottom: -10px;
    left: -5px;
    font-family: 'bootstrap-icons', serif;
    font-size: 20px;
    color: #0b8502;
}

.bank_item {
    padding: 7px 7px;
    display: flex;
    align-items: center;
    border: 2px solid #eee;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.bank_item.active {
    border-color: var(--main-color-one);
}

.bank_item.active::before {
    content: '\F26A';
    position: absolute;
    bottom: -10px;
    left: -5px;
    font-family: 'bootstrap-icons', serif;
    font-size: 20px;
    color: #0b8502;
}

.cart_canvas .item .factor .factor_item {
    margin-bottom: 10px;
}