.cart_product_item {
    margin-bottom: 10px;
}

.cart_product_item:last-child {
    margin: 0;
}

.cart_item_feature .item {
    margin-left: 25px;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
}

.cart_item_feature .item::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #ddd;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.cart_item_feature .item:last-child::before {
    content: none;
}

.product_meta_color_items label {
    background-color: #eee;
    font-size: 14px;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
}

.product_meta_color_items label span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 7px;
    position: relative;
}

.cart_product_item .remove i {
    color: #f21919;
    font-size: 20px;
}

.old_price {
    text-decoration: line-through;
    color: #aaa !important;
    margin-bottom: 0;
    font-weight: normal;
}

.new_price {
    font-weight: bold;
}