.miniCard {
    width: 100% !important;
    margin: 0 0 20px;
}

.miniCard .item {
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: var(--shadow-box);
}
.old_price {
    text-decoration: line-through;
    color: #aaa;
    margin-bottom: 0;
    font-weight: normal;
}
.title h6 {
    line-height: 1.5;
}
.price {
    flex-direction: column;
   align-items: end;
}