.category_brand {
    margin: 20px 0 0 0;
}

.category_brand .item {
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category_brand .item img {
    filter: contrast(0.5) grayscale(100%);
    transition: 0.3s all ease-in-out;
    opacity: 0.7;
    object-fit: cover;
}

.category_brand .item img:hover {
    filter: none;
    opacity: 1;
}