.storing {
    font-weight: 700;
    line-height: 2.17;
    cursor: pointer;
    font-size: 12px;
    white-space: nowrap;
    flex-grow: 1;
    margin-right: 0.5rem;
}

.spanItem {
    cursor: pointer;
    color: #81858b !important;
    font-size: 12px;
    margin-left: 2.5rem;
}
.spanItem:last-child {
    margin: 0;
}


.radio:checked+.spanItem {
    color: var(--main-color-one) !important;
}