.table_custom table {
    position: relative;
}
.table_custom table::before {
    content: '';
    background-color: var(--main-color-two);
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
}
.table_custom table td {
    min-width: 200px;
}
.table_custom tbody tr td a {
    display: inline-flex;
    padding-top: 8px;
   
} 

.table_custom tbody tr td a i {
    margin-left: 7px !important;
}