

.product_title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 55px;

}



.title p {
    margin-bottom: 5px;
    font-weight: bold;

}

.title span {
    color: var(--text-muted-two) !important;
    font-size: 12px;

}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_title .rating {
    display: flex;
    align-items: center;
}

.product_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7px;
    background: #f7f7f7;
    border-radius: 10px;
}

.new_price {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;

}

.old_price {
    text-decoration: line-through;
    color: #333;
    margin-bottom: 0;
    font-weight: normal;
}

.icon {
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.icon i {
    color: #fbc02a;
    font-size: 14px;
    vertical-align: super;
}